#container
{
    height: 700px;
    width: auto;
    border: 3px solid darkgreen;
    /* flex-wrap: wrap; */
}

div
{
    text-align: center;
    height: 500px;
    width: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: 600;
    color: darkgreen;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

}
