h1 {
  color: rgb(21, 42, 21);
}

div {
  height: 150px;
  margin: 30px;
  border: 2px solid black;
  margin: 3px;
  background-color: gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  width: 250px;
  margin: 25px;
  padding: 25px;
}

button {
  background-color: red;
  color: black;
  align-items: center;
  text-align: center;
margin: 30px;
/* text-align: center; */
}
button:hover {
  color: red;
  background-color: black;
}

h1::first-letter {
  color: rgb(249, 143, 4);
  /* background-color: aqua; */
}

/* div ::first-line {
  color: red;
  background-color: bisque;
} */

div:hover {
  background-color: black;
  color: gold;
}
